.fixed{
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 1;
}
.welcome{
  padding: 5px;
    display: flex;
    width: 300px;
    height: 500px;
    border: 1px solid rgb(229, 226, 226);
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
}

.btn{
    background-color: #78BB07;
    padding: 10px;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
    
  }
  .btn:active{
    background-color: #8ec72b;
    transform: scale(0.95);
    transition: ease-in-out 0.2s;
  }
  .upper{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 300px;
    background-color: rgb(202, 196, 196);
    border: 1px solid rgb(229, 226, 226);
    text-align: center;
  }
  .lower{
    padding: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

  }

  .notnow{
    
    margin-right: 10px;
    color: #0087E0;
    text-decoration: underline;
    cursor: pointer;
    background-color: white;
    border: none;
  }
  .notnow:active{
    color:black;
  }